a:hover {
    background-color: yellow;
    color: black;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

.navigation {
	display: flex;
	justify-content: space-around;
	list-style: none;
    background-color: black;
    color: white;
}

.navigation li {
  margin-left: 0;
  padding-left: 0;
}

@media screen and ( min-width: 768px ) {
  .navigation {
    	font-size: 20px;
        color: white;
  }
}

.hero-banner {
	background: black;
    color: white;
    margin: 0px;
	justify-content: center;
	display: grid;
}

.card {
	background: black;
	padding: 15px 25px;
	margin-top: 15px;
	color: white;
	width: 100vw;
}

.global-footer {
	background: #cdcdcd;
	padding: 15px 25px;
	margin-top: 15px;
}

.trivia-cards {
	display: flex;
	justify-content: space-between;
  max-width: 100%;
}

.trivia-card {
	padding: 15px;
}

.center-text {
	text-align: center;
}

#first-header {
    margin: 0px;
    font-size: 40px;
}

#second-header {
	font-size: 20px;
	color: white;
}

#third-header {
	font-size: 20px;
	color: white;
}

#button {
	margin-top: 150px;

    /* height: 13px; */
    border: none;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
	font-weight: bold;
	background-color: yellow;
	color: black;
}

#scheduleButton {
	font-weight: bold;
}

tr:nth-child(even) td{
  background-color: black;
  border: none;

}

.first-image {
   /* padding: 20px;*/
    width: 50%;
    height: 70%;
}

.second-image {
	width: 40;
	height: 50%;
}

tr:nth-child(odd) td{
    background-color: gray;
    border: none;
}

td{
    width: 500px;
    border: none; 
}